@media (min-width:1199px){
section.slider {
  margin-top: -40px!important;
}
}

footer, footer a {
  margin-bottom: -27px !important;
}



.main-bestsellers .header-title {color:#FF3998;margin-bottom:0px;font-weight:bold;}

.main-bestsellers h3 {
    font-size: 16px;
    color: #FF3998;
}

.main-bestsellers a.find-more {
    font-weight: bold;
    font-size: 18px;
}

.main-bestsellers p {
    font-size: 18px;
}