@media (min-width:1199px){
section.slider {
  margin-top: -40px!important;
}
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: #ED3C95!important;font-weight: 300;}

p {
    margin-bottom: 5px!important;
}

body {font-size: 16px;}

#topNav button.btn-mobile {
    color: #E7E7E7!important;}

footer, footer a {
  margin-bottom: -27px !important;
}

.btn.btn-primary, .btn-primary {
    background: #ED3C95!important;
	    border-color: #ED3C95!important;
	color:#fff!important;	
}

.inline-search form button {
    background: rgb(237, 60, 149);
    border-left: #ED3C95 1px solid;
    color: #fff;
}

body #wrapper {
    min-height: initial!important;
}


.heading-title.heading-arrow-bottom:after { border-top: 20px solid #ED3C95;}

h4#mySmallModalLabel, h2 > span {
    color: #ED3C95;
}

.heading-title.heading-arrow-bottom {
    color: #fff;
    background-color: #ED3C95;
}

section.featured-grid div.row>div .ribbon:before, .modal-content {
    border-top-color: #ED3C95!important;
}

.main-bestsellers .header-title, .flawless-lifestyle  .header-title {color:#FF3998;margin-bottom:0px;font-weight:bold;}

.main-bestsellers h3, .flawless-lifestyle  h3 {
    font-size: 20px;
    color: #FF3998;
}

.main-bestsellers a.find-more , .flawless-lifestyle a.find-more  {
    font-weight: bold;
    font-size: 18px;
	color: #FF3998;
}

.main-bestsellers p, .flawless-lifestyle p {
    font-size: 18px;
}

.mobile-main-bestsellers.toggle.toggle-transparent-body label, .mobile-main-lifestyle.toggle.toggle-transparent-body label, .mobile-side-nav.toggle.toggle-transparent-body label, .mobile-main-lifestyle.toggle.toggle-transparent-body label {
    background: rgb(237, 60, 149);
    color: #fff;
}

.mobile-main-bestsellers.toggle.toggle-transparent-body label:hover, .mobile-main-lifestyle.toggle.toggle-transparent-body label:hover, .mobile-side-nav.toggle.toggle-transparent-body label:hover,.mobile-side-nav.toggle.toggle-transparent-body label:hover {
    background: #F55EA9;
}

.mobile-main-bestsellers div.toggle.active > label:before, .mobile-main-lifestyle div.toggle.active > label:before {
    border: 10px solid transparent;
    border-bottom-color: rgba(255, 255, 255, 0.5);
    right: 14px;
    margin-top: -17px;
}

.mobile-main-bestsellers div.toggle > label:before, .mobile-main-lifestyle div.toggle > label:before {
    content: '';
    border: 10px solid transparent;
    border-top-color: inherit;
    position: absolute;
    top: 50%;
    right: 14px;
    margin-top: -6px;
}


.book-appointment span.select2.select2-container.select2-container--default {
    width: 100%!important;
}

@media (max-width:600px) {
.page-v2 .col-md-3.col-xs-3.inner-img-banner {
    width: 100%;
    text-align: center!important;
}
.page-v2 .col-md-9.col-xs-9.inner-content-banner {
    width: 100%;
    margin-top: 10px;
	text-align: center!important;
}

}

@media (max-width:400px) {
.findstore span.pull-right {
    float: none!important;
    display: block;
    margin-top: 10px;
}
}




@media (max-width:767px) {

div.toggle {
    margin: 0px 0 0!important;}
	
.book-appointment label.col-xs-3.control-label {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.book-appointment .col-xs-9 {
    width: 100%;
}

.book-appointment span.select2.select2-container.select2-container--default {
    width: 100%;
}

.contact-main .cwell-contact {
    margin-top: 20px!important;
}
.table-responsive{border: none!important;}

.mobile-main-bestsellers .mobile-main-lifestyle {display:block!important;}
.desk-main-bestsellers, .desk-main-lifestyle {display:none!important;}

#main_section_include .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}
#slider_include div#main-slider {
    margin-bottom: 0px!important;
}

.div_products_list .col-xs-4, .div_products_list .col-xs-6  {
    width: 100%!important;
}
.div_products_list .img-cont {
    padding: 60% 0 0!important;
}

.quickview {

    position: absolute;
    top: initial!important;
    z-index: 1!important;
    bottom: 145px!important;
}

}

@media (max-width:768px) {
.news-item-small-image.margin-bottom-20 {
    float: none!important;
    width: 100%!important;
}



.media .img-cont img {
    max-width: 100%!important;
}
.media .col-sm-3 {
    width: 100%;
}

.media  .col-sm-9 {
    width: 100%;
}

.media .side-nav ul {
    display: block;}


}

@media (min-width:768px) {

.mobile-main-bestsellers, .mobile-main-lifestyle {display:none!important;}
}

@media (max-width:530px) {
#footer .col-xs-2, #footer .col-xs-3, #footer .col-xs-5 {
    width: 100%;
	margin-bottom:20px;
}

#footer .col-xs-2{
    margin-bottom: 0px!important;
    margin-top: 20px!important;
}

#footer .container {
    padding-top: 0px!important;
    margin-bottom: 0px!important;
}

#footer h4 {margin-top: 20px!important;}

}



/* -------- */

.btn-bg1 {  
background: #b4a595!Important;
    color: #fff!important;
    border-color: #b4a595!Important;
}

.footer-callout .col-sm-6 {
    padding-left: 0px;
    padding-right: 0px;
}

.footer-callout .col-sm-9 > p {
    font-size: 16px;
}

.tp-bannershadow.tp-shadow3 {
    background: none!important;
}

.line-br {
    height: 28px;
    opacity: 0.5;
}

#footer {background: #eae5e0!important;color: #FF3998!important;}

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6, #footer ul.footer-links > li > a {color: #FF3998!important;}
#footer ul.footer-links > li > a::before {content: none!important;}

#footer ul.footer-links > li > a {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: melbourneregular;
}

#footer form input[type="submit"]:hover, #footer form input:focus, #footer form textarea:focus {
    background-color: #fff!important;
}

#footer form input, #footer form textarea {
	background-color: #fff!important;
    border-color: transparent!important;
    color: #FF3998!important;
    margin-bottom: 0px!important;}
	
#footer > .copyright {
    background-color: transparent;
    display: block;
    font-size: 13px;
    padding: 1px 0;
    text-shadow: none;
}	

#footer h4 {
    font-size: 14px !important;
    font-weight: bold !important;
    margin-bottom: 10px !important;
    text-transform: uppercase !important;
    font-family: Melbourneregular;
    font-weight: bold;
}

#footer .btn.btn-primary {
    background: #ED3C95!important;
    border-color: #ED3C95;
}

#footer .col-md-4 span {
    color: #ED3C95!important;
}

#topBar ul.top-links > li {
    border-right: none!important;
    margin-left: -5px!important;
	}
	
#topBar .top-links.list-inline.pull-right {line-height: 34px!important;}

#topBar {  border-bottom: none!important;}

#topBar  .bg-grey {background:#a39da1;}

#topBar  .bg-hover {background:#f7c3b8;}


#topBar .bg-grey {
    background: #a39da1!important;
    color: #fff!important;
}

.tp-bannertimer {background: #fff !important;}

a:hover {color: #F757A7!important;}


.tp-caption.block_black {
    background-color: #FE66AF;
}

.cwell-contact {
    background: #F1F1F1;
    border-radius: 0px;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 16px 15px;
}


.findstore h2, .findstore span.pull-right, .findstore .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 16px;
    color: #CC3E90!important;
}

.add-main {
    max-height: 370px;
    overflow-y: auto;
}

.book-appointment .row {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.book-appointment .nav-tabs>li.active>a {
    color: #fff!important;
	font-size:20px;
}

.book-appointment  .nav-tabs.nav-top-border>li.active>a, .book-appointment  .nav-tabs.nav-top-border>li.active>a:hover {
    border-top-color: transparent !important;
    background: #ED3C95!important;
	font-size:20px;
	border:none!important;
	 border-radius:0px!important
}

.book-appointment h2, .book-appointment h2 span {
    color: #ED3C95!important;
}

.book-appointment .nav-tabs.nav-top-border>li>a {
    border-top: transparent 3px solid !important;
    background: #909294!important;
	 color: #fff!important;
	 border:none!important;
	 font-size:20px;
	 border-radius:0px!important
}

.book-appointment .nav-tabs>li {
	margin-left:20px;
}

.book-appointment .tab-content {
    border: 1px solid;
    border-radius: 5px;
    border-color: #ED3C95;
}

.book-appointment .tab-content {
    padding: 30px 20px;
}

.book-appointment .nav-tabs {
    border-bottom: none;
    margin-bottom: 1px;
}

.book-appointment hr {
    background: #ED3C95;
}

.book-appointment .has-feedback{
    margin-bottom: 40px!important;
    padding-bottom: 15px;
	
}

 .book-appointment  textarea{
    margin-bottom: 30px!important;
    padding-bottom: 15px;
	padding-top: 10px !important;
}

 .book-appointment  .fancy-form{margin-bottom: 10px!important;}


.book-appointment input.form-control, .book-appointment span.select2-selection.select2-selection--single, .book-appointment span.select2-search.select2-search--dropdown, .book-appointment textarea.form-control {
    background: #F7E9E1;
	border:none!important;
}


.book-appointment .select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #E0E0E0;
}


.book-appointment #new, .book-appointment label.col-xs-3.control-label {
    color: #ED3C95!important;
    font-weight: bold!important;
    font-size: 15px!important;
}

.book-appointment .has-feedback .form-control, .select2-container--default .select2-search--dropdown .select2-search__field, .select2-container--default .select2-selection--single .select2-selection__rendered {font-size: 15px!important;color: #ED3C95!important;font-weight:bold!important;}

.book-appointment .col-xs-9 {
    margin-top: -10px!important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {border-color: #DE72B1 transparent transparent }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #DE72B1 }

.book-appointment i.fa.fa-comments, .fancy-form>i {
    color: #ED3C95;
    opacity: .5;
}

.subscribe-form i.icon-remove {
    margin-top: 10px;
    margin-right: 10px;
}

.media .nav-tabs.nav-bottom-border>li.active>a, .nav-tabs.nav-bottom-border>li.active>a:hover {
    border-bottom-color: #ED3C95  !important;
	color:#ED3C95 !important;
	font-size: 18px!important;
    text-transform: uppercase!important;
}

.media .side-nav ul.list-group-bordered>li>a {
    font-size: 15px;
}

.media a,.media a:hover {color:#ED3C95 !important;}

.media .side-nav ul.list-group-bordered>li>a:hover {color:#ED3C95 !important;}

.media .btn-reveal span {
    font-weight: bold;
    font-size: 15px;
    line-height: 15px!important;
}
.media .size-15 {
    line-height: 13px !important;
    font-weight: bold;
}

.media .inline-search form input.serch-input {font-size: 15px}

.media h2 a { font-size: 18px;}

.media h2 {margin-bottom:0px;}

.media .btn.btn-reveal  {background-color: #fff;}

.media .pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0px;
    font-weight: bold;
}

.inner-img-banner img {width:150px!important;}

.page-header-area .inner-content-banner h2 {
    font-size: 40px;
    color: #ED3C95;
}

section.dark .pagination > li.active>a, .pagination > li.active>a {
    border-color: #ED3C95!important;
    background-color: #ED3C95!important;
}

section.dark .pagination > li.active>a:hover, .pagination > li.active>a:hover { opacity:.8!important;}

.flawless-lifestyle.row>div img.img-responsive, .main-bestsellers.row>div img.img-responsive {border: 1px solid #E6E5E5;}

.services-item h2 {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    color: #ED3C95;
	margin-bottom:10px;
}



.services-item .carousel-caption {text-shadow: none;}

.services-item p {
    margin-bottom: 0px;
    color: #666;
    font-size: 15px;
    font-weight: bold;
	max-height: 70px;
}

.services-item a {
    font-weight: bold;
    font-size: 15px;
    color: #FF3998;
    position: absolute;
    bottom: 10px;
}

.services-item .carousel-caption {
    margin: 20px 10px;
    right: 5%!important;
    left: 5%;
    text-align: left;
    top: 0%;
    bottom: 0%;
    background: rgba(255,255,255,.3);
    padding: 15px!important;
}


.page-header-area h2, .page-header-area p, .page-header-area span {color: #666;}


.page-header-area p {
    font-size: 18px;
    font-weight: bold;
}

.page-header-area {
    border-bottom: 1px solid #ECE5E0!important;
}

.version-template .tp-bullets, .version-template .tparrows.round, .version-template .tp-leftarrow.round, .version-template .tp-bannertimer {
    display: none;
}

.version-template .tp-caption {
    text-shadow: none;
    color: #ED3C95!important;
    font-family: 'fertigo_proregular', georgia, serif;
    font-size: 40px!important;
	margin-top: -50px!important;
}

.version-template .tp-caption.sub-caption-2.lfl.start{
    font-size: 70px!important;
    margin-top: -90px!important;
    line-height: 70px!important;
}

.version-template .tp-caption.about-content-1.lfl.start, .about-content-1 {
    font-size: 20px;
    color: #666!important;
    margin-top: 15px!important;
    line-height: 30px!important;
    display: inline-block;
}

.version-template .about-content-1 div {display:inline;}

.version-template .about-title {font-weight:bold;}

.news-item-small-image.margin-bottom-20 {
    float: left;
    width: 330px;
    margin-right: 15px;
}

.media hr { background: #ECE5E0!important;}


.img-cont {
    display: block;
    height: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
    padding: 60% 0 0;
    position: relative;
    width: 100%;
}

.img-cont img {
    bottom: 0 !important;
    display: block !important;
    left: 0 !important;
    margin: auto !important;
    max-height: 100% !important;
    max-width: 100%!important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
}

.media  .img-cont img {
    bottom: 0 !important;
    display: block !important;
    left: 0 !important;
    margin: auto !important;
    max-height: 100% !important;
    max-width: 100%!important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
}

.version-template .tp-bannershadow.tp-shadow3 {
    display: none;
}

/* -------- */


#topBar .vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
#topBar .vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
#topBar .modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}
#topBar  .modal-dialog {box-shadow: none;}

.modal-backdrop {
    background-color: #ED3C95;
}

#topBar .modal-header .close {
    margin-top: -25px;
}

/* -------- */

.table-responsive table .list-inline>li {
    line-height: 25px;
}

.table-responsive table.table.table-vertical-middle {
    border: none;
}

.table-responsive thead {
    background:none;
    color: #ED3C95;
	border: none;
}

.table-responsive thead tr:hover {
    background: none!important;
}

.table-responsive .table>thead>tr>th {
    border-bottom: none!important;
}

.table-responsive tr:hover {
    background: #eee;
}


.quickview {
    right: 30px;
    position: absolute;
    top: 155px;
    z-index: 1;
}


.div_products_list .pull-right a {
    font-size: 12px;
}

.div_products_list p.item-page-font-color {
    color: #ED3C95;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.quickview img:hover {
    opacity: 1!important;
}

.quickview img {
    opacity: .7!important;
}

.btn:hover {
    opacity: .8!important;
}

.toast-top-right {
    bottom: 0!important;
    right: 12px;
    top: initial!important;
}

div.side-nav ul > li::before {
    display: none;
}


.datepicker table tr td.active.active {background-color:#ED3C95!important;}
/* ------- */

/*
inspired from http://codepen.io/Rowno/pen/Afykb 
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

/* ================== */

/* .tp-bgimg.defaultimg {
    background-size: initial!important;
}
 */
#main-slider .item.active {
    background: #999999!important;
}


/* start google map css lists */
.gmap {
    border: 1px solid #ddd;
    box-shadow: 0 0 4px #bbb inset;
}

#map_wrapper {
    height: 400px;
}
#map_canvas {
    height: 100%;
    width: 100%;
}
/* end google map css lists */